.git
.env*
.DS_Store
.dev-logs
.pytest_cache
.ruff_cache
.venv
**/__pycache__
**/*.pyc
**/node_modules
*.mov

src/chezz/engine/**/*.o
src/chezz/engine/main
src/chezz/engine/run
src/chezz/engine/libuser_actions.*
src/pool/engine/*.o
src/pool/engine/*.so
src/pool/engine/phylib.py
src/pool/engine/phylib_wrap.c
src/platform/frontend/static/games/**/*.js
src/platform/frontend/static/games/**/*.js.map
src/platform/frontend/static/css/*-tailwind.css
