    <div class="game-scatter game-scatter--chezz" data-game-only="chezz" aria-hidden="true">
      <img class="scatter-piece piece-w-1" src="/static/games/chezz/assets/pieces/wK.png" alt="">
      <img class="scatter-piece piece-w-2" src="/static/games/chezz/assets/pieces/wQ.png" alt="">
      <img class="scatter-piece piece-w-3" src="/static/games/chezz/assets/pieces/wN.png" alt="">
      <img class="scatter-piece piece-w-4" src="/static/games/chezz/assets/pieces/wB.png" alt="">
      <img class="scatter-piece piece-w-5" src="/static/games/chezz/assets/pieces/wR.png" alt="">
      <img class="scatter-piece piece-w-6" src="/static/games/chezz/assets/pieces/wC.png" alt="">
      <img class="scatter-piece piece-w-7" src="/static/games/chezz/assets/pieces/wF.png" alt="">
      <img class="scatter-piece piece-b-1" src="/static/games/chezz/assets/pieces/bK.png" alt="">
      <img class="scatter-piece piece-b-2" src="/static/games/chezz/assets/pieces/bQ.png" alt="">
      <img class="scatter-piece piece-b-3" src="/static/games/chezz/assets/pieces/bN.png" alt="">
      <img class="scatter-piece piece-b-4" src="/static/games/chezz/assets/pieces/bB.png" alt="">
      <img class="scatter-piece piece-b-5" src="/static/games/chezz/assets/pieces/bR.png" alt="">
      <img class="scatter-piece piece-b-6" src="/static/games/chezz/assets/pieces/bC.png" alt="">
      <img class="scatter-piece piece-b-7" src="/static/games/chezz/assets/pieces/bF.png" alt="">
      <img class="scatter-piece piece-w-8" src="/static/games/chezz/assets/pieces/wP.png" alt="">
      <img class="scatter-piece piece-b-8" src="/static/games/chezz/assets/pieces/bP.png" alt="">
    </div>
    <div class="game-scatter game-scatter--pool" data-game-only="pool" aria-hidden="true">
      <img class="scatter-piece piece-w-1" src="/static/games/pool/assets/balls/solid-1.svg" alt="">
      <img class="scatter-piece piece-w-2" src="/static/games/pool/assets/balls/solid-2.svg" alt="">
      <img class="scatter-piece piece-w-3" src="/static/games/pool/assets/balls/solid-3.svg" alt="">
      <img class="scatter-piece piece-w-4" src="/static/games/pool/assets/balls/solid-4.svg" alt="">
      <img class="scatter-piece piece-w-5" src="/static/games/pool/assets/balls/solid-5.svg" alt="">
      <img class="scatter-piece piece-w-6" src="/static/games/pool/assets/balls/solid-6.svg" alt="">
      <img class="scatter-piece piece-w-7" src="/static/games/pool/assets/balls/solid-7.svg" alt="">
      <img class="scatter-piece piece-w-8" src="/static/games/pool/assets/balls/cue.svg" alt="">
      <img class="scatter-piece piece-b-1" src="/static/games/pool/assets/balls/stripe-9.svg" alt="">
      <img class="scatter-piece piece-b-2" src="/static/games/pool/assets/balls/stripe-10.svg" alt="">
      <img class="scatter-piece piece-b-3" src="/static/games/pool/assets/balls/stripe-11.svg" alt="">
      <img class="scatter-piece piece-b-4" src="/static/games/pool/assets/balls/stripe-12.svg" alt="">
      <img class="scatter-piece piece-b-5" src="/static/games/pool/assets/balls/stripe-13.svg" alt="">
      <img class="scatter-piece piece-b-6" src="/static/games/pool/assets/balls/stripe-14.svg" alt="">
      <img class="scatter-piece piece-b-7" src="/static/games/pool/assets/balls/stripe-15.svg" alt="">
      <img class="scatter-piece piece-b-8" src="/static/games/pool/assets/balls/eight.svg" alt="">
    </div>
